.banner-text{
    position: absolute;
    top: 25%;
}

.banner-text .form-control{
    border-radius: 7px 0px 0px 7px!important;
    height: 50px!important;
}

.search{
    border-radius: 0px 7px 7px 0px!important;
    height: 50px!important;
}

.vol-event-list {
    position: absolute !important;
    top: 60%;
}

.home-banner .row{
    margin-right: 30px;
}